@model CRUD1.Models.Employee

<h2>Create</h2>

<form method="post">
    <label>Name</label>
    <input class="form-control" asp-for="Name"/>

    <label>Age</label>
    <input class="form-control" asp-for="Age" />

    <label>Email</label>
    <input class="form-control" asp-for="Email" />

<button class="btn btn-success mt-3" type="submit">Submit</button>
</form>