@model CRUD1.Models.Employee

<h2>Edit</h2>

<form method="post">
    <input type="hidden" asp-for="Id"/>

    <label>Name</label>
    <input class="form-control" asp-for="Name" />

    <label>Age</label>
    <input class="form-control" asp-for="Age" />

    <label>Email</label>
    <input class="form-control" asp-for="Email" />

    <button class="btn btn-primary">Update</button>

</form>