@model CRUD1.Models.Employee

<h2>Edit Employee</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <label>First Name</label>
    <input class="form-control" asp-for="FirstName" />

    <label>Last Name</label>
    <input class="form-control" asp-for="LastName" />

    <label>Age</label>
    <input class="form-control" asp-for="Age" />

    <label>Date of Hire</label>
    <input class="form-control" asp-for="DateOfHire" type="date"/>

    <label>Email</label>
    <input class="form-control" asp-for="Email" />

    <label>Position</label>
    <input class="form-control" asp-for="Position" />

    <label>Salary</label>
    <input class="form-control" asp-for="Salary" />

    <button class="btn btn-success mt-3" href="/Employee/Index">Update</button>
    <a class="btn btn-danger mt-3" href="/Employee/Index">Back</a>

</form>