@model IEnumerable<CRUD1.Models.Employee>

<h2>Employees</h2>

<a class="btn btn-primary mb-3" href="/Employee/Create">Create</a>

<table class ="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">Email</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.Age</td>
                <td class="text-center">@item.Email</td>
                <td class="text-center">
                    <a href="/Employee/Edit/@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>

</table>