@model CRUD1.Models.Employee

<h2>Employee Details</h2>

<p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
<p><strong>Email Address:</strong> @Model.Email</p>
<p><strong>Position:</strong> @Model.Position</p>

<a class="btn btn-danger mt-3" href="/Employee/Index">Back</a>